<!DOCTYPE html>

<html>
<head>
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="css/bootstrap-switch.css">
<link href="css/style.css" rel="stylesheet" media="screen">

</head>
<a name="top"></a> 
<body onload="run()">
	<div id="title-bar">
		<table style="width:100%">
			<tr>
			<td>
				<div id="backContainer">
				<img id="back" class="imgBtn" src="img/chevron-left.png"/>
				</div>
			</td>
			
			<td class="title">
				<h1>Help</h1>
			</td>
				
			<td class="menuCol">
				<div class="btn-group menu">
				<button class="btn"  data-toggle="dropdown" id="menuBtn">
				<i class="icon-th-list"></i>
				</button>
					<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
						<li><a tabindex="-1" href="/">Home</a></li>
						<li><a tabindex="-1" href="/help">Help</a></li>
						<li><a tabindex="-1" href="/login">Sign out</a></li>
					 </ul>
				</div>
				
			</td>
			</tr>
		</table>
	</div>

	<div id="helppg" style="clear:both;">
		<!--INSERT HELP TEXT HERE. USE LINE BREAKS AND NEW STYLESHEET-->

		<div id="WhatisOj?">
			<h3 style = "text-align:center;">What is Orange Juice?</h3>
			<p>OrangeJuice is a useful aid that enables optimal concentration when focusing on a task by stopping those distracting notifications from hindering your work progress. By filtering out all of the excess alerts and notifications, the users can focus on their work at hand. OrangeJuice allows only the most important, user-selected information to alert them on their phone (in case of emergency, necessity, etc.), while keeping the rest of your notifications silent and stored away in an anti-distraction zone until you’re done and ready to access them. OrangeJuice is made for 100% concentration.</p>
		</div>

		<div id="HowSelectActivity?">
			<h3 style = "text-align:center;">How to select/create an activity</h3>
			<p>Creating an activity allows you to designate what to filter for separate tasks. From this page, you have the option of editing your “Allowed Contacts” and your “Blocked Applications” (refer to next two main sections). After you edit these sections, this page will also show a list of what you selected under each section.</p>
			<h5 style = "text-indent:50px;">New Activity</h5>
			<p>When a New Activity is created, all of the selected settings will be saved in your “Saved Activities” directory (refer to "Accessing 'Saved Activities' Directory" section). You will need to name the activity for easy access at any time.</p>

			<h5 style = "text-indent:50px;">One-Time Session</h5>
			<p>Unlike New Activity, a One-Time Session is meant to be used only one time. So, the settings will not be saved, and the session will run automatically after you choose your settings.</p>

			<h5 style = "text-indent:50px;">Accessing "Saved Activities" directory</h5>
			<p>A list of your saved activities will be shown on the main “Select Activity” page. This allows you to automatically run the activity with your preset settings, or edit the settings directly. If you want to delete a saved activity, go to Edit and then Delete at the bottom of the page.</p>
			
			<a href="#top">TOP OF PAGE</a>
		</div>

		<div id="HowAllowContacts?">
			<h3 style = "text-align:center;">Allowing contacts</h3>
			<p>This setting gives you the option to select who can contact you and through which means, while blocking out everyone that is not selected. You can filter through your alphabetized contact list using the search bar, or by selecting a contact group from your phone (Favorites, Recent, etc.). You could also “select all” if you want all of your incoming calls, texts, and emails notify you. For each contact, you have the option to choose which means of contact will be allowed, or you could allow all of the means (text, call, email, etc.). You are now provided with an easy way to filter out unnecessary notifications, while keeping the important / in-case-of-emergency notifications active.</p>
			<a href="#top">TOP OF PAGE</a>
		</div>

		<div id="HowBlockApplications?">
			<h3 style = "text-align:center;">Blocking applications</h3>
			<p>This setting provides a way to block all of the notifications from entire applications. You can filter through your alphabetized application list with a search bar.</p>
			<a href="#top">TOP OF PAGE</a>
		</div>

		<div id="HowRunSession?">
			<h3 style = "text-align:center;">Starting/Running a session</h3>
			<p>Once all of your settings are selected, you can click the save or start button (depending on whether you’re in New Activity or Temporary Session). This will take you to the home/running page, which allows you to turn the filtering on/off or edit your activity throughout your focus session. This page also provides a button to show you all of your silenced, blocked notifications.</p>
			<a href="#top">TOP OF PAGE</a>
		</div>

		<div id="HowcheckNotifications?">
			<h3 style = "text-align:center;">Accessing Blocked Notifications</h3>
			<p>To access your blocked notifications, go to the main / session-running page, and click the “See Blocked Notifications” button. You will then see list of all of the notifications that were silenced throughout your focus session. You can access this at anytime during your focus session.</p>
			<a href="#top">TOP OF PAGE</a>
		</div>



	</div>


    <script type="text/javascript">
	function run(){
		$('.btn').button();

		$('#back').click(function() {
			window.history.back();		
		});
	}
    </script>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-switch.js"></script>
</body>

</html>
